.main {
  height: 100%;
  width: 100%;
}

.footer {
  margin-top: 2em;
  font-size: 14px;
  text-align: center;
  color: #a4a4a4;
  a {
    color: #a4a4a4;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: #a4a4a4;
  }
}

.button:a {
  text-decoration: none;
}

.page-title {
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 0.5em;
}

.border {
  margin-left: 5%;
  margin-right: 5%;
  border: 3px solid #000;
}
