<div class="row">
  <div class="small-3 small-centered columns header"><h3>Imagetool</h3></div>
</div>
<!-- Routed views go here -->
<router-outlet></router-outlet>
<div class="row">
  <div class="small-centered columns breadcrumbs">
    <a routerLink="/login" routerLinkActive="activeLink">1. Einloggen</a>
    <i class="ion-ios-arrow-right" title="Track Color"></i> <a routerLink="/upload" routerLinkActive="activeLink">2. Fotos hochladen</a>
    <i class="ion-ios-arrow-right" title="Track Color"></i> <a routerLink="/titleimage" [routerLinkActive]="'activeLink'">3. Titelfoto auswählen</a>
    <i class="ion-ios-arrow-right" title="Track Color"></i> <a routerLink="/edit-image" [routerLinkActive]="'activeLink'">4. Titelfoto bearbeiten</a>
    <i class="ion-ios-arrow-right" title="Track Color"></i> <a routerLink="/download" [routerLinkActive]="'activeLink'">5. Fotos runterladen</a>
  </div>
</div>
<div class="row columns footer">Ein Projekt von <a href="http://process.studio">Studio Process</a>.</div>
