.automarke {
  line-height: 2.4em;
}

.checkbox-text {
  font-size: 16px;
}
$base-line-height: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  50% {
    background: $white;
  }
}

.title-image {
  position: relative;
}

.loading-container {
  display: none;
}
.loading {
  display: none;
}

.processing {
  .loading-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //margin: auto;
    //padding-top: 6.5em;
    min-height: 80px;
    background-color: rgba(#333, 0.7);
  }

  .loading {
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    // transform: translateY(-13px);
    position: absolute;
    //margin: 0 auto;
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: 0.25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;

    &--double {
      border-style: double;
      border-width: 0.5rem;
    }
  }
}

.empty-array {
  // padding-top: 2em;
  // padding-bottom: 10em;
  color: #ee0000;
  font-weight: bold;
  padding-bottom: 16em;
}
