.automarke {
  line-height: 2.4em;
}

.checkbox-text {
  font-size: 16px;
}

$base-line-height: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: $white;
  }
}

.title-image {
  position: relative;

  .loading-container {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    //margin: auto;
    //padding-top: 6.5em;
    min-height: 80px;
    background-color: rgba(#CCC, 0.7);
  }
  .loading {
    top: 50%;
    left: 50%;
    position: absolute;
    //margin: 0 auto;
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;
    &--double {
      border-style: double;
      border-width: .5rem;
    }
  }
}
