<app-header></app-header>
<app-navigation></app-navigation>

<div class="row column">
  <span class="page-title">Titelfoto bearbeiten</span>
</div>

<div class="row">
  <div class="small-8 columns">
    <img src="//placehold.it/1200x900" alt="">
  </div>
  <div class="small-4 columns">
    <div class="row column edit-titleimage">
      <span class="sub-title">Einstellungen</span>
    </div>
    <div class="row">
      <div class="small-3 columns automarke">
        Automarke
      </div>
      <div class="small-9 columns">
          <select>
            <option value="husker">Alfa Romeo</option>
            <option value="starbuck">Chrysler</option>
            <option value="starbuck">Fiat</option>
            <option value="hotdog">Jeep</option>
            <option value="apollo">Maserati</option>
          </select>
      </div>
    </div>
    <div class="row">
      <fieldset class="small-12 columns">
        <input id="checkbox1" type="checkbox"><label for="checkbox1"><span class="checkbox-text">Störer verwenden?</span></label>
      </fieldset>
    </div>
    <div class="row column">
      <input type="text" name="stoererText" placeholder="Text für Störer">
    </div>
    <div class="row">
      <div class="small-12 column">
        <button class="medium button float-left">
          <i class="ion-loop" title="Back"></i> Bild generieren
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row column back-forth">
  <button class="medium button float-left" routerLink="/titleimage">
    <i class="ion-arrow-left-b" title="Back"></i> Zurück
  </button>

  <button class="medium button float-right" routerLink="/download">
    Weiter <i class="ion-arrow-right-b" title="Continue"></i>
  </button>
</div>

<app-meta-control></app-meta-control>
