<app-header></app-header>
<app-navigation></app-navigation>

<div class="row column">
  <span class="page-title">Titelfoto bearbeiten</span>
</div>

<div class="row small-up-12">
  <div class="column">
    <img src="//placehold.it/800x600" class="thumbnail" alt="">
  </div>
</div>

<div class="row column">
  <button class="medium button float-left" routerLink="/titleimage">
    <i class="ion-arrow-left-b" title="Back"></i> Zurück
  </button>

  <button class="medium button float-right" routerLink="/download">
    Weiter <i class="ion-arrow-right-b" title="Continue"></i>
  </button>
</div>

<app-meta-control></app-meta-control>
