<app-header></app-header>
<app-navigation></app-navigation>

<div class="row progress" role="progressbar" style="display: block; margin-bottom: 0px; height: 8px" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
  <div class="progress-meter" style="width: 75%"></div>
</div>

<div class="row column colored">
  <span class="page-title">Titelfoto bearbeiten</span>
</div>

<div *ngIf="!titleimageChosen" class="row column empty-array colored">
  Es wurde noch kein Titelfoto gewählt.
</div>


<div *ngIf="titleimageChosen" class="row colored">
  <div class="small-8 columns">
    <div class="title-image" [class.processing]="isProcessing">
      <img [src]="'http://ito.process.studio/api/public/' + coverURL?.full" alt="" width="100%">
      <div class="loading-container"><div class="loading"></div></div>
    </div>
  </div>
  <div class="small-4 columns">
    <div class="row column edit-titleimage">
      <span class="sub-title">Einstellungen</span>
    </div>
    <div class="row">
      <div class="small-3 columns automarke">
        Automarke
      </div>
      <div class="small-9 columns">
          <select #brandSelect>
            <option value="none">– keine –</option>
            <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
          </select>
      </div>
    </div>
    <div class="row">
      <fieldset class="small-12 columns">
        <input #stickerCheckbox id="checkbox1" type="checkbox" (change)="onCheckboxChanged($event)"><label for="checkbox1"> <span class="checkbox-text">Sticker verwenden?</span></label>
      </fieldset>
    </div>
    <div class="row column">
      <input #stickerText type="text" maxlength="30" name="stoererText" placeholder="Text für Sticker" [disabled]="!useSticker">
    </div>
    <div class="row">
      <div class="small-12 column">
        <button class="medium button float-left" [disabled]="isProcessing" (click)="onSubmitButtonClicked(brandSelect.value, stickerCheckbox.checked, stickerText.value)">
          <i class="ion-loop" title="Back"></i> {{isProcessing ? 'Wird verarbeitet...' : 'Bild generieren'}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row column back-forth colored">
  <button class="medium button float-left" routerLink="/titleimage">
    <i class="ion-arrow-left-b" title="Back"></i> Zurück
  </button>

  <button class="medium button float-right" [disabled]="!allowDownload()" routerLink="/download">
    Weiter <i class="ion-arrow-right-b" title="Continue"></i>
  </button>
</div>

<app-meta-control></app-meta-control>
