@import '../../settings';

.navigation {
  // margin-bottom: 2px;
}

.main-navigation {
  padding-top: 1em;
  padding-bottom: 0.7em;
  background-color: #EFEFEF;
}

.meta {
  text-align: right;
  padding-right: 5em;
  a {
    color: #acacac;
    text-decoration: none;
  }
  a:hover {
    color: #000;
    text-decoration: none;
  }
  .activeLink {
    color: #333;
    //font-weight: bolder;
  }
}

.breadcrumbs li:not(:last-child)::after{
  content: none;
}

/* Medium and up */
@media screen and (max-width: 76.9375em) {
  li {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-transform: none;
    display: block;
    font-size: 19px;
    font-weight: bolder;
  }
  .breadcrumbs {
    font-size: 19px;
    font-weight: bolder;
    margin-top: 0em;
    text-align: center;

    .menu-text {
      vertical-align: sub;
      padding-left: 0.2em;
      padding-right: 0.4em;
    }
    a {
      color: #000;
      text-decoration: none;
    }
    a:hover {
      color: $dealercolor;
      text-decoration: none;
      .badge {
        background: $dealercolor;
      }
    }
    .activeLink {
      color: $dealercolor;
      //font-weight: bolder;
      .badge {
        background: $dealercolor;
      }
    }

    .badge {
      background: #000;
      margin-left: 2.0em;
    }
    .badge.disabled {
      background-color: #616161;
      color: #fff;
    }
  }
}

/* Large and up */
@media screen and (min-width: 77em) {
  li {
    padding-left: 1em;
    padding-right: 1em;
    text-transform: none;
    display: block;
    font-size: 19px;
    font-weight: bolder;
  }
  .breadcrumbs {
    font-size: 19px;
    font-weight: bolder;
    margin-top: 0em;
    text-align: center;

    .menu-text {
      vertical-align: sub;
      padding-left: 0.2em;
      padding-right: 2.0em;
    }
    a {
      color: #000;
      text-decoration: none;
    }
    a:hover {
      color: $dealercolor;
      text-decoration: none;
      .badge {
        background: $dealercolor;
      }
    }
    .activeLink {
      color: $dealercolor;
      //font-weight: bolder;
      .badge {
        background: $dealercolor;
      }
    }

    .badge {
      background: #000;
      margin-left: 2.0em;
    }
    .badge.disabled {
      background-color: #616161;
      color: #fff;
    }
  }
}

.disabled {
  color: #616161;
}
