<div class="navigation">
  <div class="row">
    <div class="small-centered columns breadcrumbs">
      <ul>
        <li><a routerLink="/upload" routerLinkActive="activeLink"><span class="badge">1</span> <span class="menu-text">Fotos hochladen</span></a></li>
        <li><a routerLink="/titleimage" [routerLinkActive]="'activeLink'"><span class="badge">2</span> <span class="menu-text">Titelfoto auswählen</span></a></li>
        <li><a routerLink="/edit-image" [routerLinkActive]="'activeLink'"><span class="badge">3</span> <span class="menu-text">Titelfoto bearbeiten</span></a></li>
        <li><a routerLink="/download" [routerLinkActive]="'activeLink'"><span class="badge">4</span> <span class="menu-text">Fotos runterladen</span></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-centered columns breadcrumbs meta">
      <a routerLink="/upload" routerLinkActive="activeLink"><i class="ion-refresh" title="Neu anfangen"></i> Neu anfangen</a><br />
      <a routerLink="/login" routerLinkActive="activeLink"><i class="ion-close" title="Ausloggen"></i> Ausloggen</a>
  </div>
  </div>
</div>
