<div class="login">
    <div class="row">
        <div class="large-12 columns">
            <h1>Einloggen</h1>
        </div>
    </div>

    <div class="row">
        <form>
            <div class="large-12 medium-12 columns">
                <input type="text" placeholder="Benutzer" />
            </div>
            <div class="large-12 medium-12 columns">
                <input type="password" placeholder="Passwort" />
            </div>
        </form>
    </div>
    <div class="row">
        <div class="columns">
            <a href="#" class="medium success button">Login</a>
        </div>
    </div>
</div>

<app-footer></app-footer>
