<div class="login">
    <div class="row small-4">
        <div class="columns">
            <h2>Einloggen</h2>
        </div>
    </div>

    <div class="row small-4">
        <form>
            <div class="columns">
                <input type="text" placeholder="Benutzer" />
            </div>
            <div class="columns">
                <input type="password" placeholder="Passwort" />
            </div>
        </form>
    </div>
    <div class="row small-4">
        <div class="columns">
            <a href="#" class="medium success button">Login</a>
        </div>
    </div>
</div>
