<div class="login" (keypress)="loginUserKey(userLogin.value, passwordLogin.value, $event)">
  <div class="row column small-4 logo">
    <img src="../../assets/images/ito/ito-logo_notext.png">Image Tool Online
  </div>

  <!-- <div class="row small-4">
    <div class="columns">
      <span class="page-title">Einloggen</span>
    </div>
  </div> -->

  <div class="row small-3">
    <form>
      <div class="columns">
        <input #userLogin type="text" placeholder="Email" autofocus="autofocus" />
      </div>
      <div class="columns">
        <input #passwordLogin type="password" placeholder="Passwort" />
      </div>
    </form>
  </div>

  <div class="row columns small-3">
    <div class="callout alert" [hidden]="error!='LoginWrong'">
      <h5>Email oder Passwort falsch</h5>
      <p>Für Hilfe wenden Sie sich bitte an <a href="mailto:contact@process.studio">contact@process.studio</a></p>
    </div>
    <div class="callout alert" [hidden]="error!='Other'">
      <h5>Fehler</h5>
      <p>Für Hilfe wenden Sie sich bitte an <a href="mailto:contact@process.studio">contact@process.studio</a></p>
      <pre>{{errorMessage}}</pre>
    </div>
  </div>

  <div class="row small-3">
    <div class="columns">
      <button [disabled]="submitDisabled" if="LoginButton" class="medium success button float-right" (click)="loginUser(userLogin.value, passwordLogin.value)">
            Login
          </button>
    </div>
  </div>
</div>
