.header {
  margin-top: 2em;
  padding-top: 2.0em;
  padding-bottom: 1.5em;
  font-weight: 500;
  vertical-align: middle;

  .title {
    padding-top: 0.85em;
    vertical-align: bottom;
    //text-align: center;
    text-align: left;
  }
  .header-logo {
    text-align: right;
  }
  .ito-logo {
    text-align: left;
  }
  img {
    max-height: 100px;
  }
  .title-header {
    font-size: 20px;
    font-weight: lighter;
  }

  @media screen and (min-width: 1160px) {
    .dealer-name {
      font-size: 42px;
      font-weight: bold;
      line-height: 2;
      text-transform: uppercase;
    }
  }
  @media screen and (max-width: 1159px) {
    .dealer-name {
      font-size: 20px;
      font-weight: bold;
      line-height: 2;
      text-transform: uppercase;
    }
  }

}
