<div class="row header">
  <div class="small-2 columns ito-logo">
    <img src="../../assets/images/ito/ito-logo_r.png">
  </div>
  <div class="small-7 columns title">
    <!-- <span class="dealer-name">Autohaus Neugschwandtner</span> -->
  </div>
  <!-- <div class="small-3 columns">
  </div> -->
  <div class="small-3 columns header-logo">
    <img src="../../assets/images/cardealers/logo1.png">
  </div>
  <!-- <div class="small-3 small-centered columns header"><h2>Imagetool</h2></div> -->
</div>
