.header {
  padding-top: 2.0em;
  padding-bottom: 1.5em;
  font-weight: 500;
  vertical-align: middle;

  .title {
    padding-top: 0.75em;
    font-weight: bold;
    vertical-align: bottom;
    text-align: center;
  }
  .header-logo {
    text-align: right;
  }
  .ito-logo {
    text-align: left;
  }
  img {
    max-height: 100px;
  }
  .title-header {
    font-size: 20px;
    font-weight: lighter;
  }
  .dealer-name {
    font-size: 28px;
    font-weight: bold;
    line-height: 2.5;
  }
}
