.header {
  margin-top: 1.5em;
  padding-bottom: 0.5em;
  font-weight: 500;

  .title {
    padding-top: 0.85em;
    vertical-align: bottom;
    //text-align: center;
    text-align: right;
  }
  .header-logo {
    //text-align: right;
  }
  .ito-logo {
    text-align: left;
  }
  .title-header {
    font-size: 20px;
    font-weight: lighter;
  }

  .username {
    text-align: right;
    vertical-align: text-bottom;
    font-weight: bold;
    height: 100%;
  }

  /* Small only */
@media screen and (max-width: 39.9375em) {
  img {
    max-height: 70px;
  }
  .username {
    font-size: 19px;
    line-height: 50px;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  img {
    //max-height: 100px;
    //margin-bottom: 0.7em;
    max-height: 100px;
  }
  .username {
    font-size: 19px;
    line-height: 90px;
  }
}

/* Large and up */
@media screen and (min-width: 55em) {
  img {
    max-height: 120px;
  }

  .username {
    line-height: 120px;
    font-size: 25px;
  }
}

.center-content {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

}
