<div class="row header">
  <div class="column small-6 medium-4 large-4">
    <img [src]="user?.id ? 'http://ito.process.studio/api/public/user-logos/' + user.id + '.png' : ''" class="float-left">
  </div>
  <div class="column small-6 medium-8 large-8 username">
    <!-- {{user?.name}} -->
    Ing. RESL Autohaus
  </div>
  <!-- <div class="row column">
    <img [src]="user?.id ? 'http://ito.process.studio/api/public/user-logos/' + user.id + '.png' : ''" class="float-center">
  </div>
  <div class="row column center-content">
    {{user?.name}}
  </div> -->
</div>
