.help {
  font-size: 18px;
}

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  h2 {
    font-size: 26px;
    font-weight: bold;
  }

  .title {
    margin-top: 4em;
    margin-bottom: 8.5em;
  }

  a {
    color: #000;
    border-bottom: 1px solid #000;
    &:hover {
      color: #0000FF;
      border-bottom: 1px solid #0000FF;
    }
  }

  .logo {
    margin-top: 8em;
  }

  .step {
    margin-bottom: 3em;
  }

  .subtext {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 4em;
  }
