/* You can add global styles to this file, and also import other style files */

// fonts
@import './assets/fonts/ionicons/ionicons.css';

// foundation
@import 'settings';
@import '../node_modules/foundation-sites/scss/foundation';
@import '../node_modules/dropzone/dist/dropzone';

@include foundation-everything;

.page-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 80px;
}

// Rename the .dropzone class from '../node_modules/dropzone/dist/dropzone'
// (This class also kicks off js code, which we don't want)
.dropzone-style {
  @extend .dropzone;
}

.callout pre {
  white-space: pre-wrap;
}
