.help {

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  h2 {
    font-size: 26px;
    font-weight: bold;
  }

  .title {
    margin-top: 5em;
    margin-bottom: 2em;
  }

  a {
    color: #000;
    border-bottom: 1px solid #000;
  }

  .logo {
    margin-top: 2em;
    margin-bottom: 4.5em;
  }
}
