<div class="row">
  <div class="small-centered columns meta">
    <span class="restart"><a routerLink="/restart" routerLinkActive="activeLink"><i class="ion-refresh" title="Neu anfangen"></i> Neu anfangen</a></span>
    <span class="logout"><a routerLink="/logout" routerLinkActive="activeLink"><i class="ion-close" title="Ausloggen"></i> Ausloggen</a></span>
    <span class="help"><a routerLink="/help" routerLinkActive="activeLink" target="_blank"><i class="ion-help" title="Hilfe anzeigen"></i> Hilfe</a></span>
  </div>
</div>
