<app-header></app-header>
<app-navigation></app-navigation>

<div class="row column">
  <span class="page-title">Titelfoto auswählen</span>
</div>

<div class="row column">
  Auf das gewünsche Foto klicken, um es als Titelfoto festzulegen.
</div>

<!--
<div class="row small-up-1 medium-up-2 large-up-4">
  <div class="column">
    <img src="//placehold.it/300x300" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="//placehold.it/300x300" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="//placehold.it/300x300" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="//placehold.it/300x300" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="//placehold.it/300x300" class="thumbnail" alt="">
  </div>
  <div class="column">
    <img src="//placehold.it/300x300" class="thumbnail" alt="">
  </div>
</div>
-->

<div class="row small-up-1 medium-up-2 large-up-3 previously-uploaded">

  <div *ngFor="let image of images" class="column image-container" [class.selected]="image == selectedImage" (mousedown)="selectTitleImage(image)">
    <div class="selected-sign"><i class="ion-checkmark" title="Als Titelfoto wählen"></i></div>
    <img [src]="'http://ito.process.studio/api/public/' + image.data.urls.thumb" class="image-border" alt="">
  </div>

</div>

<div class="row column back-forth">
  <button class="medium button float-left" routerLink="/upload">
    <i class="ion-arrow-left-b" title="Back"></i> Zurück
  </button>

  <button class="medium button float-right" routerLink="/edit-image">
    Weiter <i class="ion-arrow-right-b" title="Continue"></i>
  </button>
</div>



<app-meta-control></app-meta-control>
