<app-header></app-header>
<app-navigation></app-navigation>

<div class="row column colored">
  <span class="page-title">Fotos herunterladen</span>
</div>

<div *ngIf="emptyImagesArray" class="row column empty-array colored">
  Es wurden noch keine Fotos hochgeladen.
</div>

<div class="row column colored" *ngIf="!emptyImagesArray">
  <span class="sub-title">Archiv herunterladen</span><br /><br />Hier sind alle hochgeladenen und berarbeiteten Fotos zu sehen. Um Änderungen vorzunehmen, einfach zum entsprechenden Menupunkt wechseln. Das gesamte Archiv der bearbeiteten Fotos kann als ZIP-Datei runtergeladen werden.<br /><br />
</div>

<div class="row column colored" *ngIf="!emptyImagesArray">
  <button class="large success button float-center" [disabled]="isProcessing">
    {{isProcessing ? 'Wird verarbeitet...' : 'Download starten'}} <i class="ion-arrow-down-a" title="Download" *ngIf="!isProcessing"></i>
  </button>
</div>

<div class="row column colored" *ngIf="!emptyImagesArray">
  <div class="row column">
    <span class="sub-title">Das Archiv besteht aus diesen Fotos:</span>
  </div>
  <div class="row small-up-4 medium-up-6 large-up-8 previously-uploaded">

    <div *ngFor="let image of images" class="column image-container">
      <img [src]="'http://ito.process.studio/api/public/' + image.urls.thumb" class="image-border" alt="">
    </div>

  </div>
</div>

<div class="row column back-forth colored">
  <button class="medium button float-left" routerLink="/edit-image">
    <i class="ion-arrow-left-b" title="Back"></i> Zurück
  </button>
</div>

<app-meta-control></app-meta-control>
