<app-header></app-header>
<app-navigation></app-navigation>

<div class="row progress" role="progressbar" style="display: block; margin-bottom: 0px; height: 8px" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
  <div class="progress-meter" style="width: 100%"></div>
</div>

<div class="row column colored">
  <span class="page-title">Fotos herunterladen</span>
</div>

<div *ngIf="emptyImagesArray" class="row column empty-array colored">
  Es wurden noch keine Fotos hochgeladen.
</div>

<div class="row column colored" *ngIf="!emptyImagesArray">
  <span class="sub-title">Archiv herunterladen</span>
</div>

<div class="row colored" *ngIf="!emptyImagesArray">
  <div class="column small-10 medium-8 large-8">
    <p>Im letzten Schritt können Sie das bearbeitete Titelbild inklusive der anderen, automatisch bearbeiteten Fotos als Archiv herunterladen. Dazu klicken Sie einfach auf die Schaltfläche “Download starten”. Es wird eine ZIP-Datei auf ihrem Rechner gespeichert, das sämtliche Fotos enthält.</p>
    <p>Wenn Sie das ZIP-Archiv nicht finden, sehen Sie in Ihrem “Download”-Ordner nach. Sind sie fertig? Sie können sich von diesem Schritt ausloggen oder neu beginnen.</p>
</div>
  <div class="column small-2 medium-4 large-4 icons-steps"> <i class="ion-ios-download"></i></div>
</div>

<div class="row column colored previously-uploaded" *ngIf="!emptyImagesArray">
  <button class="large success button float-center" [disabled]="isProcessing" (click)="onDownloadButtonClick($event)">
    {{isProcessing ? 'Wird verarbeitet...' : 'Download starten'}} <i class="ion-arrow-down-a" title="Download" *ngIf="!isProcessing"></i>
  </button>
</div>

<div class="row column colored previously-uploaded" *ngIf="!emptyImagesArray">
  <div class="row column">
    <span class="sub-title">Das Archiv besteht aus diesen Fotos:</span>
  </div>
  <div class="row small-up-4 medium-up-6 large-up-8 previously-uploaded">
    <div class="column image-container image-row">
      <img [src]="coverThumb" class="image-border" alt="">
    </div>
    <div *ngFor="let image of images" class="column image-container">
      <img [src]="image.urls.thumb" class="image-border" alt="">
    </div>

  </div>
</div>

<div class="row column back-forth colored">
  <button class="medium button float-left" routerLink="/edit-image">
    <i class="ion-arrow-left-b" title="Back"></i> Zurück
  </button>
  <div class="float-right">
    <button class="medium alert button hollow float-left abstand" routerLink="/logout">
      <i class="ion-close" title="Ausloggen"></i> Ausloggen
    </button>
    <button class="medium success button float-left" routerLink="/restart">
      <i class="ion-refresh" title="Neu anfangen"></i> Neu anfangen
    </button>
  </div>
</div>

<app-meta-control></app-meta-control>
