.pictures {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

.image-row {
  margin-bottom: 2.5em;
}

.empty-array{
  color: #ee0000;
  font-weight: bold;
  padding-bottom: 16em;
}
.abstand {
  margin-right: 0.5em;
}
