<app-header></app-header>
<app-navigation></app-navigation>

<div class="row column">
  <span class="page-title">Fotos runterladen</span>
</div>

<div class="row column">
  <button class="medium button float-left" routerLink="/edit-image">
    <i class="ion-arrow-left-b" title="Back"></i> Zurück
  </button>

  <button class="medium success button float-right disabled">
    Download starten <i class="ion-arrow-down-a" title="Download"></i>
  </button>
</div>

<app-meta-control></app-meta-control>
