<app-header></app-header>
<app-navigation></app-navigation>

<div class="row column">
  <h2>Fotos hochladen</h2>
</div>

<div class="row">
  <div class="columns">
    <div class="callout" data-closable>
      <p>Drop your image(s) here!</p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
   </div>
 </div>

<div class="row">
  <div class="columns small-6">
    <label>Multiple Select Menu
      <select multiple>
        <option value="showboat">Showboat</option>
        <option value="redwing">Redwing</option>
        <option value="narcho">Narcho</option>
        <option value="hardball">Hardball</option>
      </select>
    </label>
  </div>
  <div class="columns small-6">
    <label>Multiple Select Menu
      <select multiple>
        <option value="showboat">Showboat</option>
        <option value="redwing">Redwing</option>
        <option value="narcho">Narcho</option>
        <option value="hardball">Hardball</option>
      </select>
    </label>
  </div>
</div>

<div class="row">
  <fieldset class="large-6 columns">
    <legend>Choose Your Favorite</legend>
    <input type="radio" name="pokemon" value="Red" id="pokemonRed" required>
    <label for="pokemonRed">Red</label>
    <input type="radio" name="pokemon" value="Blue" id="pokemonBlue">
    <label for="pokemonBlue">Blue</label>
    <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow">
    <label for="pokemonYellow">Yellow</label>
  </fieldset>
  <fieldset class="large-6 columns">
    <legend>Check these out</legend>
    <input id="checkbox1" type="checkbox">
    <label for="checkbox1">Checkbox 1</label>
    <input id="checkbox2" type="checkbox">
    <label for="checkbox2">Checkbox 2</label>
    <input id="checkbox3" type="checkbox">
    <label for="checkbox3">Checkbox 3</label>
  </fieldset>
</div>

<div class="row">
  <div class="columns">
    <label for="exampleFileUpload" class="button">Upload File</label>
    <input type="file" id="exampleFileUpload" class="show-for-sr">
  </div>
</div>
