.image-upload {
  min-height: 400px;
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
  transition: border 0.1s ease-in;

  &:hover {
    //background-color: #EFEFEF;
    border: 1px solid #CCC;
  }
}

.dropzone-style {
  padding-top: 1em;
  padding-bottom: 3em;
}
