.image-upload {
  min-height: 400px;
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
  transition: border 0.1s ease-in;

  &:hover {
    //background-color: #EFEFEF;
    border: 1px solid #CCC;
  }
}

.dropzone-style {
  margin-top: 1em;
  margin-bottom: 3em;
  border: none;
  font-size: 19px;
}

.uploaded-image {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

.image-container:hover {
  background-color: #FFF;
  opacity: 0.8;
}

.image-container {
  position: relative;
}
.image-container:hover .delete-button {
  position: absolute;
  top: 23px;
  right: 30px;
  display:block;
  font-size: 30px;
  cursor: pointer;
}

.delete-button {
  display:none;
}
