<app-header></app-header>
<app-navigation></app-navigation>

<div class="row progress" role="progressbar" style="display: block; margin-bottom: 0px; height: 8px" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
  <div class="progress-meter" style="width: 25%"></div>
</div>

<div class="row column colored">
  <span class="page-title">Fotos hochladen</span>
</div>

<div class="row colored column" id="collapsible-trigger">
  <div class="show-help"><i class="ion-chevron-down"></i> Hilfe anzeigen...</div>
  <div class="remove-help"><i class="ion-chevron-up"></i> Hilfe verbergen...</div>
</div>

<div id="collapsible">
  <div class="help row colored">
    <div class="column small-10 medium-8 large-8">
      <p>Zum Hochladen, Fotos über die entsprechende Schaltfläche auswählen oder über das Drag-and-Drop-Feld ziehen. Sofort nach dem Hochladen, werden die Fotos automatisch bearbeitet und mit "Fertig" gekennzeichnet. Automatische Bildverbesserungen sind:</p>
        <ul>
          <li><em>Farben</em> normalisieren</li>
          <li><em>Größe</em> anpassen</li>
          <li><em>Helligkeit</em> adjustieren</li>
          <li><em>Kontrast</em> verbessern</li>
        </ul>

      <p>Versuchen Sie Fotos mit einem gängigen Seiten- und Höhenverhältnis zu machen beziehungsweise zu verwenden.</p>
      <p><strong>Erlaubte Bildformate: *.jpg, *.png</strong> (maximal 10 MB pro Datei)</p>
      <p>Um hochgeladene Fotos wieder zu löschen, mit der Maus über ein Foto navigieren und das entsprechende Löschen-Symbol klicken.</p>
      <p>Zu bevorzugen sind jedenfalls Fotos im Quer- und nicht Hochformat. Beim Titelfoto ist zwingend ein Querformatfoto notwendig.</p>
    </div>
    <div class="column small-2 medium-4 large-4 icons-steps"> <i class="ion-images"></i></div>
  </div>
</div>


<div class="row colored">
  <div class="columns dropzone-style" (drop)="onFileDropped($event)" (dragover)="onFileDragged($event)">
    <input type="file" multiple name="imageChooser" id="imageChooser" class="inputfile" accept="image/*" (change)="onFileSelected($event)">
    <label for="imageChooser" class="imageUploadLabel">Foto(s) auswählen...</label>

    <div class="row small-up-1 medium-up-2 large-up-4 previously-uploaded">

      <div *ngFor="let image of images" class="column image-container" [ngClass]="image.uploadState">
        <!-- attach classes: uploading, processing, deleting, error -->
        <div class="delete-button"><i class="ion-trash-b" title="Delete Photo" (click)="deleteImage(image)"></i></div>
        <img [src]="image.urls ? image.urls.thumb : ''" class="uploaded-image" alt="">
        <div class="uploaded-sign"><i class="ion-checkmark" title="Als Titelfoto wählen"></i> Fertig</div>
        <div class="loading-container">
          <div class="secondary progress" role="progressbar" tabindex="0">
            <div class="progress-meter" [style.width.%]="image.uploadProgress"></div>
          </div>
          <div class="loading"></div>
        </div>
        <div class="error-container" (click)="removeFailedImage(image)">X</div>
        <div class="uploading-sign">{{image.uploadProgress | number:'1.0-0'}}% hochgeladen</div>
        <div class="processing-sign">Wird verarbeitet...</div>
        <div class="deleting-sign">Wird gelöscht...</div>
        <div class="error-sign">Fehler!</div>
      </div>

    </div>
  </div>
</div>


<div class="row column back-forth colored">
  <button class="medium button float-right" [disabled]="!nextStepAvailable()" routerLink="/titleimage">
    Weiter <i class="ion-arrow-right-b" title="Continue"></i>
  </button>
</div>

<app-meta-control></app-meta-control>
