.image-upload {
  min-height: 400px;
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
  transition: border 0.1s ease-in;

  &:hover {
    //background-color: #EFEFEF;
    border: 1px solid #CCC;
  }
}

.dropzone-style {
  text-align: center;
  margin-top: 2em;
  min-height: 300px;
  border: none;
  font-size: 17px;
  outline-offset: -1em;
  color: #868686;
  padding: 1em;
  outline: 2px dashed #959595;
  // &:hover {
  //   background-color: #f4f4f4;
  //   outline-offset: -2px;
  //   outline: 2px solid #CCC;
  //   color: #CCC;
  // }
}

.uploaded-image {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  min-width: 270px;
  min-height: 50px;
  background-color: #cccccc;
}

// .image-container:hover {
//   background-color: #FFF;
//   opacity: 0.8;
// }

.image-container {
  position: relative;
  padding-bottom: 1.0em;
  margin-left: 20px;
  min-width: 300px;
  min-height: 256px;
}

.progress.secondary .progress-meter {
    background-color: #000;
}

.secondary.progress {
  user-select: none;
}

.image-container:hover .delete-button {

  position: absolute;
  //background-color: #FFF;
  top: 23px;
  right: 30px;
  display:block;
  color: #000;
  font-size: 28px;
  z-index: 100;
  cursor: pointer;

  &:hover {
    color: #ee0000;
  }
}

.delete-button {
  display:none;
}

.inputfile + label {
    // font-size: 1.25em;
    // font-weight: 700;
    // padding-left: 15px;
    // padding-right: 15px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    padding: 0.85em 1em;
    margin-top: 2em;
    background-color: #333;
    display: inline-block;
    color: #FFF;
}

.inputfile:focus + label, .inputfile + label:hover {
  color: #FFF;
  background-color: #000;
  cursor: pointer;
}

.imageUploadLabel {
  margin-top: 1.5em;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
a {
  font-weight: 500;
}

label {
  font-weight: 500;
}

// .upload-progress {
//   position: absolute;
//   top: 100px;
//   height: 50px;
//   width: 200px;
//   display:block;
//   background-color: #00FF00;
// }

.image-container:hover .uploaded-sign {
  color: #a5c8a5;
}

.image-container:hover img {
  opacity: 0.4;
}

$base-line-height: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: $white;
  }
}

html {
  height: 100%;
}
// body {
//   @extend html;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   background: #000;
// }

.uploaded-sign {
  font-weight: bold;
  color: #00aa00;
}

.processing-sign {
  font-weight: bold;
  color: #000;
}

.deleting-sign {
  font-weight: bold;
  color: #000;
}

.error-sign {
  font-weight: bold;
  color: #ee0000;
}

.uploading-sign {
  font-weight: bold;
  color: #000;
}

.uploading-sign {
  display: none;
}

.progress {
  display: none;
}

.image-container.uploading .delete-button {
  display: none;
}

.image-container.processing .delete-button {
  display: none;
}

.image-container.deleting .delete-button {
  display: none;
}

.deleting-sign {
  display: none;
}

.processing-sign {
  display: none;
}

.error-sign {
  display: none;
}

.error-container {
  display: none;
}

.uploading {

  .progress.secondary .progress-meter {
    background-color: $white;
  }

  .progress {
    background-color: $off-white;
  }

  .uploaded-sign {
    display: none;
  }

  .uploading-sign {
    display: block;
  }

  .progress {
    display: block;
    margin-bottom: 9px;
  }

  .delete-button {
    display:none;
  }

  img {
    display: none;
  }

  .loading-container {
    margin: auto;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    padding-top: 4.7em;
    min-width: 270;
    min-height: 180px;
    background-color: #CCC;
  }
  .loading {
    display: none;
    // margin: 0 auto;
    //   border-radius: 50%;
    //   width: $base-line-height;
    //   height: $base-line-height;
    //   border: .25rem solid $off-white;
    //   border-top-color: $white;
    //   animation: spin $spin-duration infinite linear;
    // &--double {
    //   border-style: double;
    //   border-width: .5rem;
    // }
  }

  // .loading-pulse {
  //   position: relative;
  //   width: ($base-line-height / 4);
  //   height: $base-line-height;
  //   background: $off-white;
  //   animation: pulse $pulse-duration infinite;
  //   animation-delay: ($pulse-duration / 3);
  //   &:before, &:after {
  //     content: '';
  //     position: absolute;
  //     display: block;
  //     height: ($base-line-height / 1.5);
  //     width: ($base-line-height / 4);
  //     background: $off-white;
  //     top: 50%;
  //     transform: translateY(-50%);
  //     animation: pulse $pulse-duration infinite;
  //   }
  //   &:before {
  //     left: -($base-line-height / 2);
  //   }
  //   &:after {
  //     left: ($base-line-height / 2);
  //     animation-delay: ($pulse-duration / 1.5);
  //   }
  // }
}

.processing {

  .uploaded-sign {
    display: none;
  }

  .progress {
    display: none;
  }

  .processing-sign {
    display: block;
  }

  img {
    display: none;
  }

  .loading-container {
    margin: auto;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    padding-top: 4.5em;
    min-width: 270;
    min-height: 180px;
    background-color: #CCC;
  }
  .loading {
    margin: 0 auto;
      border-radius: 50%;
      width: $base-line-height;
      height: $base-line-height;
      border: .25rem solid $off-white;
      border-top-color: $white;
      animation: spin $spin-duration infinite linear;
    &--double {
      border-style: double;
      border-width: .5rem;
    }
  }
}

.deleting {

  .uploaded-sign {
    display: none;
  }

  img {
    opacity: 0.4;
  }

  .deleting-sign {
    display: block;
  }
}

.error {

  font-weight: bold;


  .uploaded-sign {
    display: none;
  }

  .error-container {
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    padding-top: 4.5em;
    min-width: 270;
    min-height: 180px;
    color: #FFF;
    background-color: #CCC;
  }

  img {
    display: none;
  }

  .error-sign {
    display: block;
  }

}
