<app-header></app-header>
<app-navigation></app-navigation>

<div class="row column">
  <span class="page-title">Fotos hochladen</span>
</div>

<div class="row column">
  Zum Hochladen von Fotos, die Datei(en) über das Feld ziehen. Bereits hochgeladene Fotos erscheinen weiter unten.<br />
  Um bereits hochgeladene Fotos wieder zu löschen, mit der Maus über ein Foto navigieren und das entsprechende Symbol klicken.
</div>

<div class="row">
  <div class="columns">
    <form action="/file-upload" class="dropzone-style" id="dropzone"></form>
  </div>
</div>

<div class="row column">
  <span class="sub-title">Bereits hochgeladene Fotos:</span>
</div>

<div class="row small-up-1 medium-up-2 large-up-4 previously-uploaded">
  <div class="column image-container">
    <div class="delete-button"><i class="ion-trash-b" title="Delete Photo" (click)="deletePhoto()"></i></div>
    <img src="//placehold.it/400x300" class="uploaded-image" alt="">
  </div>
  <div class="column image-container">
    <div class="delete-button"><i class="ion-trash-b" title="Delete Photo" (click)="deletePhoto()"></i></div>
    <img src="//placehold.it/400x300" class="uploaded-image" alt="">
  </div>
  <div class="column image-container">
    <div class="delete-button"><i class="ion-trash-b" title="Delete Photo" (click)="deletePhoto()"></i></div>
    <img src="//placehold.it/400x300" class="uploaded-image" alt="">
  </div>
  <div class="column image-container">
    <div class="delete-button"><i class="ion-trash-b" title="Delete Photo" (click)="deletePhoto()"></i></div>
    <img src="//placehold.it/400x300" class="uploaded-image" alt="">
  </div>
  <div class="column image-container">
    <div class="delete-button"><i class="ion-trash-b" title="Delete Photo" (click)="deletePhoto()"></i></div>
    <img src="//placehold.it/400x300" class="uploaded-image" alt="">
  </div>
</div>


<div class="row column back-forth">
  <button class="medium button float-right" routerLink="/titleimage">
    Weiter <i class="ion-arrow-right-b" title="Continue"></i>
  </button>
</div>

<app-meta-control></app-meta-control>
